<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Добро пожаловать в наш Суши-Магазин!</h1>
    <p>Наслаждайтесь покупками и выбирайте лучшие продукты!</p>

    <div>
        <a href="{% url 'catalog' %}">Перейти в каталог товаров</a>
    </div>
    <div>
        <a href="{% url 'profile' %}">Мой профиль</a>
    </div>
    <div>
        <a href="{% url 'cart' %}">Моя корзина</a>
    </div>
    <div>
        <a href="{% url 'orders' %}">Мои заказы</a>
    </div>
{% endblock %}
